.startButton {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.storyImage {
	width: 2rem;
	height: 2rem;
	float: left;
	margin: 0 0.5rem 0 1rem;
}

.storyBox {
	border: 0.05rem solid;
	padding: 1rem;
	margin: 1rem 0;
	box-shadow: 0.1rem 0.2rem;
}

.speechbubble {
	position: relative;
	background: white;
	border-radius: .4rem;
	margin: 0.5rem;
	border: 0.05rem solid;
}

.speechbubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color: black;
	border-left: 0;
	margin-top: -8px;
	margin-left: -8px;
}

.speechbubbletext {
	padding: 0.5rem;
	font-size: 90%;
}

.commentImage {
	width: 15%;
	height: 15%;
	display: inline-block;
}

.speechbubblewrapper {
	width: 85%;
	display: inline-block;
}

.comment {
	display: inline-block;
	width: 100%;
}

.content {
	margin: 1rem 0 1rem 0;
	border: 0.05rem solid;
	box-shadow: 0.1rem 0.2rem;
}
.prompt {
	width: 100%;
}
